<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto Central</title>

</head>
<body>

    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex justify-content-between">
    
          <div class="logo">
            <h1><a href="index">Auto Central</a></h1>
           
          </div>
    
          <nav id="navbar" class="navbar">
            <ul>
              <li><a class="nav-link scrollto" href="/">Register</a></li>
              <li><a class="nav-link scrollto" href="index">Home</a></li>
              <li><a class="nav-link scrollto" href="findr">Popular</a></li>
              <li><a class="nav-link scrollto" href="insights">Ratings</a></li>
              <li><a class="nav-link scrollto " href="contact">Contact</a></li>
              <li><a class="nav-link scrollto " href="logout">Logout</a></li>
          </nav>
    
        </div>
      </header>

</body>
</html>