<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>DFindr</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link href="/static/style.css" rel="stylesheet">

</head>

<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex justify-content-between">

    <div class="logo">
      <h1><a href="index">DFindr</a></h1>
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto" href="/">Register</a></li>
        <li><a class="nav-link scrollto" href="index">Home</a></li>
        <li><a class="nav-link scrollto" href="findr">Findr</a></li>
        <li><a class="nav-link scrollto" href="insights">Insights</a></li>
        <li><a class="nav-link scrollto " href="contact">Contact</a></li>
        <li><a class="nav-link scrollto " href="logout">Logout</a></li>
    </nav>

  </div>
</header>

<body>
  <section id="portfolio" class="portfolio section-bg">
    <div class="container">

      <div class="section-title" style="margin-top: 20px;">
        <h2>Popular Destinations</h2>
        <p>Choose from a variety of crowd sourced hidden gems</p>
      </div>

      <div class="row portfolio-container" data-aos="fade-up">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="/static/img/ice.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Iceland</h4>
              <p>Continental Road</p>
              <div class="portfolio-links">
                <a href="/static/img/ice.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="iceland" title="More Details"><i class="bx bxs-like bx-fade-right-hover"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="/static/img/p2.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Tokyo</h4>
              <p>Naka River</p>
              <div class="portfolio-links">
                <a href="/static/img/p2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="tokyo" title="More Details"><i class="bx bxs-like bx-fade-right-hover"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="/static/img/p3.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Singapore</h4>
              <p>City</p>
              <div class="portfolio-links">
                <a href="/static/img/p3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                <a href="singapore" title="More Details"><i class="bx bxs-like bx-fade-right-hover"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="/static/img/zcover.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Zamibia</h4>
              <p>Plains</p>
              <div class="portfolio-links">
                <a href="/static/img/zcover.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                <a href="zamibia" title="More Details"><i class="bx bxs-like bx-fade-right-hover"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="/static/img/p5.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>China</h4>
              <p>Mount Hua</p>
              <div class="portfolio-links">
                <a href="/static/img/p5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                <a href="china" title="More Details"><i class="bx bxs-like bx-fade-right-hover"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="/static/img/p6.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>India</h4>
              <p>Bengaluru</p>
              <div class="portfolio-links">
                <a href="/static/img/p6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                <a href="india" title="More Details"><i class="bx bxs-like bx-fade-right-hover"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="/static/img/p7.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Costa Rica</h4>
              <p>Lanewise Bridge</p>
              <div class="portfolio-links">
                <a href="/static/img/p7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                <a href="costarica" title="More Details"><i class="bx bxs-like bx-fade-right-hover"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="/static/img/ccover.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Canada</h4>
              <p>Ontario</p>
              <div class="portfolio-links">
                <a href="/static/img/ccover.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                <a href="canada" title="More Details"><i class="bx bxs-like bx-fade-right-hover"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="/static/img/scover.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Santorini</h4>
              <p>Cliffside City</p>
              <div class="portfolio-links">
                <a href="/static/img/scover.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="santorini" title="More Details"><i class="bx bxs-like bx-fade-right-hover"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>


 
</body>

</html>