{% extends 'destination_base.html' %}

{% block content %}

  <section id="team" class="team">
    <div class="container">

      <div class="section-title" style="margin-top: 35px;">
        <h2>Iceland Continental Road</h2>
        <p>All images displayed below are along the road</p>
      </div>

      <div class="row">

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
          <div class="member">
            <img src="/static/img/ice5.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Volcanic Mountains</h4>
                
              </div>
              
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
            <img src="/static/img/ice4.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>River Grimsa</h4>
             
              </div>
              
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="member">
            <img src="/static/img/ice6.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Mount Kirkjufell</h4>
              
              </div>
              
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="member">
            <img src="/static/img/ice3.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Town of Vic</h4>
                
              </div>
              
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>

  <section id="faq" class="faq section-bg">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Comments</h2>
        <p>Add and View Comments Below</p>
      </div>
      

    </div>
  </section>
  
  <section id="faq" class="faq section-bg">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Q & A</h2>
        <p>Commonly asked questions below</p>
      </div>

      <div class="faq-list">
        <ul>
          <li data-aos="fade-up">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Where is it located?</a>
            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
              <p>
                The exact adress is Þjóðvegur 1, Iceland. The road is approximately 830 miles long and takes a recommended 3 days to complete.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapse">What is the best way to book a trip here? </a>
            <div id="faq-list-2" class="collapse show" data-bs-parent=".faq-list">
              <p>
                It is best to book 8-12 months in advance. Additionally, it is best to use https://www.expedia.com/ to complete the booking.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapse">Is it safe? </a>
            <div id="faq-list-3" class="collapse show" data-bs-parent=".faq-list">
              <p>
                Iceland is among one of the safest countries in the world largely due to its culture of nonviolence and peace.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapse">What is the weather like? </a>
            <div id="faq-list-4" class="collapse show" data-bs-parent=".faq-list">
              <p>
                The weather and seasons in Iceland vary significantly throughout the year. Summer is the warmest with the most amount of sun, while the rest of the year averages around 30 degrees F.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="400">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapse">What is it also known as?</a>
            <div id="faq-list-5" class="collapse show" data-bs-parent=".faq-list">
              <p>
                The ring road is the main road that connects the inhabited parts and runs around Iceland. It is 1,332 km (828 miles) long, mostly with one lane each direction. The ring road was completed in 1974 and today all parts are paved.
              </p>
            </div>
          </li>

        </ul>
      </div>

    </div>
  </section>
{% endblock %}