<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Sprint 2</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="/static/img/favicon.png" rel="icon">
  <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">


  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


  
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link href="/static/style.css" rel="stylesheet">

</head>

<body>


  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div class="logo">
        <h1><a href="index">Destination Findr</a></h1>
       
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/">Login</a></li>
          <li><a class="nav-link scrollto" href="index">Home</a></li>
          <li><a class="nav-link scrollto" href="findr">Findr</a></li>
          <li><a class="nav-link scrollto " href="contact">Contact</a></li>
      </nav>

    </div>
  </header>


  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
      <h1>Welcome to Destination Findr</h1>
      <h2>We Help Optimize your Travel Experience</h2>
      <a href="findr" class="btn-get-started scrollto">Get Started Now</a>
    </div>
  </section>

  <main id="main">

    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-xl-6 col-lg-7" data-aos="fade-right">
            <img src="/static/img/city2.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0">
            <h3 data-aos="fade-up">Providing you with the Most Unique Travel Destinations</h3>
            <p data-aos="fade-up">
              Avoid just going to the overpriced and overcrowded destinations and instead find the hidden gems.
            </p>
            <div class="icon-box" data-aos="fade-up">
              <i class="bx bx-map-alt"></i>
              <h4>Precise Location</h4>
              <p>We provide exact locations and directions to the destinations shown on our platform</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <i class="bx bxs-pie-chart-alt-2"></i>
              <h4>Better Planning</h4>
              <p>Plan on visiting the destinations that truly matter and maximize your time on vacation</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <i class="bx bxs-camera-plus"></i>
              <h4>Great Photo-Ops</h4>
              <p>We provide you with some of the most magnificient places that are fantastic for photography</p>
            </div>

          </div>
        </div>

      </div>
    </section>
  <!-- Vendor JS Files -->
  <script src="/static/vendor/aos/aos.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/js/main.js"></script>

</body>

</html>