{% extends 'destination_base.html' %}

{% block content %}

  <section id="team" class="team">
    <div class="container">

      <div class="section-title" style="margin-top: 35px;">
        <h2>Santorini City</h2>
        <p>All images displayed below are in the city</p>
      </div>

      <div class="row">

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
          <div class="member">
            <img src="/static/img/n1.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Villas</h4>
                
              </div>
              
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
            <img src="/static/img/n2.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Night Views</h4>
             
              </div>
              
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="member">
            <img src="/static/img/n3.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Morning</h4>
              
              </div>
              
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="member">
            <img src="/static/img/n4.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Sunset</h4>
                
              </div>
              
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>

  <section id="faq" class="faq section-bg">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Q & A</h2>
        <p>Commonly asked questions below</p>
      </div>

      <div class="faq-list">
        <ul>
          <li data-aos="fade-up">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Where is it located?</a>
            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
              <p>
                The exact adress is Oia (Ia), Santorini, 84702 Cyclades Islands, Greece.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapse">What is the best way to book a trip here? </a>
            <div id="faq-list-2" class="collapse show" data-bs-parent=".faq-list">
              <p>
                It is best to book 6-8 months in advance. Additionally, it is best to use https://www.expedia.com/ to complete the booking.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapse">Is it safe? </a>
            <div id="faq-list-3" class="collapse show" data-bs-parent=".faq-list">
              <p>
                Santorini is an extremely safe place with nearly zero crime.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapse">What is the weather like? </a>
            <div id="faq-list-4" class="collapse show" data-bs-parent=".faq-list">
              <p>
                The weather and seasons in are fairly warm year round.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="400">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapse">Other Informatiom?</a>
            <div id="faq-list-5" class="collapse show" data-bs-parent=".faq-list">
              <p>
                Santorini is a relatively expenseive place. However, everything is walkable so that is a plus and people are very friendly.
              </p>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </section>
{% endblock %}