{% extends 'destination_base.html' %}

{% block content %}

  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">
      <div class="logo">
        <h1><a href="index.html">Destination Findr</a></h1>
       
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="index.html">Home</a></li>
          <li><a class="nav-link scrollto" href="findr.html">Findr</a></li>
          <li><a class="nav-link scrollto " href="contact.html">Contact</a></li>
      </nav>

    </div>
  </header>

  <section id="team" class="team">
    <div class="container">

      <div class="section-title" style="margin-top: 35px;">
        <h2>Zamibia Plains</h2>
        <p>All images displayed below are along the plains</p>
      </div>

      <div class="row">

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
          <div class="member">
            <img src="/static/img/z1.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Sunset</h4>
                
              </div>
              
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
            <img src="/static/img/z2.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Elephant</h4>
             
              </div>
              
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="member">
            <img src="/static/img/z5.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Giraffe</h4>
              
              </div>
              
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="member">
            <img src="/static/img/z6.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Plantation</h4>
                
              </div>
              
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>

  <section id="faq" class="faq section-bg">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Q & A</h2>
        <p>Commonly asked questions below</p>
      </div>

      <div class="faq-list">
        <ul>
          <li data-aos="fade-up">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Where is it located?</a>
            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
              <p>
                The exact adress is Windhoek, Namibia.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapse">What is the best way to book a trip here? </a>
            <div id="faq-list-2" class="collapse show" data-bs-parent=".faq-list">
              <p>
                It is best to book 8-12 months in advance. Additionally, it is best to use https://www.expedia.com/ to complete the booking.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapse">Is it safe? </a>
            <div id="faq-list-3" class="collapse show" data-bs-parent=".faq-list">
              <p>
                Namibia is, for the most part, a safe country to visit. However it does have a rather high crime rate. Crime is a serious issue in Namibia's capital Windhoek and other areas throughout Namibia. Incidents such as muggings and bag snatching happen frequently, especially in areas frequented by foreigners.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapse">What is the weather like? </a>
            <div id="faq-list-4" class="collapse show" data-bs-parent=".faq-list">
              <p>
                Namibia is hot and dry year round give its desert like conditions.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="400">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapse">Other information?</a>
            <div id="faq-list-5" class="collapse show" data-bs-parent=".faq-list">
              <p>
                It will be very cheap to visit their excluding airfare. A unique experience unlike any other.
              </p>
            </div>
          </li>

        </ul>
      </div>

    </div>
  </section>

{% endblock %}